body {
    color: white;
    font-family: "Verdana", serif;
    background-color: rgb(46, 46, 46);
}

button {
    background-color: rgb(87, 87, 87);
    display: inline-block;
    padding: 5px;
    border-radius: 50px;
    border: 0 none;
    color: white;
}

button:hover {
    cursor: pointer;
}

#choiceMenu {
    position: fixed;
    inset: 0;
    background-color: rgb(46, 46, 46);
    z-index: 1001;
    transform: translateX(200%);
    transition: transform 0.5s ease-in-out;
    pointer-events: none;
    overflow-y: auto;
}

#choiceMenu.active {
    transform: translateX(0);
    pointer-events: all;
}

#cards {
    position: fixed;
    inset: 0;
    background-color: rgb(46, 46, 46);
    z-index: 999;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    pointer-events: none;
    overflow-y: auto;
}

#cards.active {
    transform: translateX(0);
    pointer-events: all;
}

#addCard, #cancel {
    margin-top: 8px;
}

.choicesButton {
    margin: 5px;
}

#container {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.cardContainer {
    flex: 1 1 250px;;
}

.card {
    padding: 5px;
    margin: auto;
    background-color: rgb(87, 87, 87);
    border-radius: 50px;
    text-align: center;
    width: 80%;
}

.cardName {
    text-align: center;
}